.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #e9e7e7;
}

.footer-text {
  margin: 0;
  padding: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e9e7e7;
}

.container {
}
